<%# app/views/quotes/edit.html.erb %>

<div>
  <%= link_to sanitize("&laquo; Back to quotes"), quotes_path(@quote), class: "nav-link" %>

  <div class="header">
    <div class="display-5">Edit quote</div>
  </div>

  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>

</main>