<main class="container">
  <div>
    <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  </div>

  <div class="header">
    <h1>New quote</h1>
  </div>
  
  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote, userid: login_userid %>
  <% end %>
</main>
