<main class="container">
  <p style="color: green"><%= notice %></p>

  <div class="card p-2 w-25">
    <div class="card-header h3">Delete quote</div>
    <div class="card-body">
      <div class="header my-4">
        <b>Confirm?</b> [<%= @quote.name %>]
      </div>
      
      <div class="d-flex gap-2">
        <%= link_to "Back to quotes", quotes_path %>

        <%= button_to "Destroy this quote", @quote, method: :delete %>
      </div>
    </div>
  </div>
</main>