<main class="container">
  <p style="color: green"><%= notice %></p>

  <div class="card p-2 w-50">
    <div class="card-header h3">Delete quote</div>
      
      <div class="modal d-flex gap-5" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content shadow-lg">
            <div class="modal-header">
              <b>Confirm Delete</b>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="header my-4">
                  Are you sure to delete? [<%= @quote.name %>]
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <%= link_to sanitize("&laquo; Back to quotes"), quotes_path, class: "btn btn-sm btn-secondary" %>
              <%= link_to "Destroy this quote", 
                quotes_path(@quote), class: "btn btn-warning btn-sm", 
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }  
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>