<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="h3 text-white">Rails Quotes Management System</div>
    
    <div class="d-flex gap-2 text-white">
      <%= render "layouts/logout" %>
    </div>
  </div>
</nav>